BioSMBAppNote.json
[{"id":"42e3c8a5.9ce478","type":"OpcUa-Item","z":"5392dd51f74bb5c2","item":"ns=3;s=\"OPC_CMD\".\"SELECTMETHOD\"","datatype":"Int16","value":"","name":"SELECTMETHOD","x":490,"y":320,"wires":[["d30b17c4.365e8"]]},{"id":"d30b17c4.365e8","type":"OpcUa-Client","z":"5392dd51f74bb5c2","endpoint":"5a35a0339f86407a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","name":"BioSMB WRITE","x":700,"y":320,"wires":[["e39d7a68.3ab858"]]},{"id":"e39d7a68.3ab858","type":"debug","z":"5392dd51f74bb5c2","name":"BioSMB READ debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":320,"wires":[]},{"id":"2c637a7e.47f2f6","type":"OpcUa-Item","z":"5392dd51f74bb5c2","item":"ns=3;s=\"OPC_CMD\".\"LOADEXTEND\"","datatype":"Boolean","value":"","name":"LOADEXTEND","x":800,"y":720,"wires":[["b710802dd512aebc"]]},{"id":"cf5d9623620f4197","type":"debug","z":"5392dd51f74bb5c2","name":"BioSMB WRITE debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":720,"wires":[]},{"id":"fba016faeb8bb08e","type":"OpcUa-Item","z":"5392dd51f74bb5c2","item":"ns=3;s=\"OPC_Stat\".\"STEPNR\"","datatype":"Int16","value":"","name":"STEPNR","x":820,"y":500,"wires":[["449183bbe71b0e91"]]},{"id":"b89d8bf9f07a78bc","type":"inject","z":"5392dd51f74bb5c2","d":true,"name":"Tigger every 10 s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":500,"wires":[["fba016faeb8bb08e"]]},{"id":"08dcf81c79a408b3","type":"debug","z":"5392dd51f74bb5c2","name":"BioSMB READ debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":500,"wires":[]},{"id":"70566860fb4d2163","type":"function","z":"5392dd51f74bb5c2","name":"Measurement","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":620,"wires":[["dd5aa82b82028208"]]},{"id":"14cb4e16dcb69eaa","type":"function","z":"5392dd51f74bb5c2","name":"Measurement","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":200,"wires":[["8f74f0b943cdd4b2"]]},{"id":"6e24718a183455ca","type":"inject","z":"5392dd51f74bb5c2","d":true,"name":"Tigger every 10 s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":200,"wires":[["14cb4e16dcb69eaa"]]},{"id":"dd5aa82b82028208","type":"function","z":"5392dd51f74bb5c2","name":"If > x_2: True; else: False and back to True","func":"if (msg.payload >= 10) {\n    msg.payload = false;\n    node.send(msg);\n\n    setTimeout(function () {\n        msg.payload = true;\n        node.send(msg);\n    }, 2000);\n} else {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":620,"wires":[["2c637a7e.47f2f6"]]},{"id":"bd4e18eb3e0d9d27","type":"function","z":"5392dd51f74bb5c2","name":"STEPNR% x_1: true; else: nothing","func":"if (msg.payload % 7 ===0) {\n    msg.payload = true\n    return msg;\n} else {\n    msg.payload = false\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":620,"wires":[["70566860fb4d2163"]]},{"id":"8f74f0b943cdd4b2","type":"function","z":"5392dd51f74bb5c2","name":"Measurement processing & Flow output","func":"msg = processMessage(msg);\nreturn msg;\n\nfunction processMessage(msg) {\n    const payload = Number(msg.payload);\n\n    if (payload <= 1) {\n        msg.payload = 2;\n    } else if (payload >= 2) {\n        msg.payload = 3;\n    } else {\n        msg.payload = 1;\n    }\n\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":200,"wires":[["42e3c8a5.9ce478"]]},{"id":"b710802dd512aebc","type":"OpcUa-Client","z":"5392dd51f74bb5c2","endpoint":"5a35a0339f86407a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","name":"BioSMB WRITE","x":1000,"y":720,"wires":[["cf5d9623620f4197"]]},{"id":"449183bbe71b0e91","type":"OpcUa-Client","z":"5392dd51f74bb5c2","endpoint":"5a35a0339f86407a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","name":"BioSMB READ","x":1000,"y":500,"wires":[["08dcf81c79a408b3","bd4e18eb3e0d9d27"]]},{"id":"5a35a0339f86407a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.7.100:4840","secpol":"None","secmode":"None","login":false}]